@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
    box-sizing: border-box;
    
}
body {
    background-color:#e5e5e5 ;
    font-family: "EB Garamond", serif;
    margin: 0;
}
header {height: 160px;
text-align: center;
margin:0 ;
background-color: #14213d ;
padding-top: 51px;

}
.bold {font-weight: bold;}


h1 {margin: 0 ; color:#fca311 ;
text-shadow: white 1px 1px;
font-size: 45px 
}

.sezionePianeti {
 margin: 20px;
}

.pianeta {  
width:calc(33.333333% - 22px); 
display: inline-block;
border: solid black 1px;
margin: 10px; 
text-align: center;

}
.pPianeta {border-top: solid black 1px;
border-bottom: solid black 1px;
padding: 10px;
text-align: justify;
}


h2{text-align: center;}

ul {list-style-image: url(../../assets/immagini/icons8-saturno-10.png);
}

.intro {border: solid black;
padding: 8px;
margin: 20px;
background-color: #fca311;
font-size: larger;
font-weight: 300;}

footer {height: 100px;
line-height: 50%;
margin: 0;
padding: 10px;
background-color: #fca311;
}

u{color: blue;
font-weight: bold;}

.diritti {margin-top: 30px;
margin-bottom: 20px;}

.pianeta--boundary-left {
    margin-left: 0;
width: calc(33.333333% - 12.5px);
}
.pianeta--boundary-right {
    margin-right: 0;
width: calc(33.333333% - 12.5px);
}

.pianeta--center {

